Сначала загрузим данные и посмотрим на колонки

In [1]:
import pandas as pd

pandas_df = pd.read_csv("./исходные данные/MOCK_DATA (1).csv")
pandas_df.columns

Index(['id', 'customer_first_name', 'customer_last_name', 'customer_age',
       'customer_email', 'customer_country', 'customer_postal_code',
       'customer_pet_type', 'customer_pet_name', 'customer_pet_breed',
       'seller_first_name', 'seller_last_name', 'seller_email',
       'seller_country', 'seller_postal_code', 'product_name',
       'product_category', 'product_price', 'product_quantity', 'sale_date',
       'sale_customer_id', 'sale_seller_id', 'sale_product_id',
       'sale_quantity', 'sale_total_price', 'store_name', 'store_location',
       'store_city', 'store_state', 'store_country', 'store_phone',
       'store_email', 'pet_category', 'product_weight', 'product_color',
       'product_size', 'product_brand', 'product_material',
       'product_description', 'product_rating', 'product_reviews',
       'product_release_date', 'product_expiry_date', 'supplier_name',
       'supplier_contact', 'supplier_email', 'supplier_phone',
       'supplier_address', 'supplier_city', 'supplier_country'],
      dtype='object')

Из названия колонок можно сразу выделить сущности, которые будут в звезде:

1. customer
2. customer_pet
3. seller
4. product
5. sale
6. store
7. supplier

Можно заметить, что тут есть колонки, где используется внешний ключ(sale_product_id, например). Получается, что это внешний ключ на строку исходной таблица, а не на конкретную сущность. Из этого можно сделать вывод, что при заполнении снежинки на каждой строке будут либо создаваться новые, либо переписываться старые записи с новым идентификатором строки. Причем во всех файлах MOCK_DATA... id начинается с 1, так что надо будет к id прибавлять количество уже вставленных записей

In [2]:
for col in filter(lambda x: 'id' in x, pandas_df.columns):
    print(col, len(pandas_df[pandas_df["id"] != pandas_df[col]]))

id 0
sale_customer_id 0
sale_seller_id 0
sale_product_id 0

Да, все поля с id совпадают с id строки, так что можно вставлять строки как есть

In [3]:
inserted_rows = 0

In [4]:
for col in pandas_df.columns:
    unique = pandas_df[col].unique()
    if len(unique) > 200 or 'desc' in col:
        continue
    print(f"{col}: {unique}")

customer_age: [63 26 47 81 72 42 80 77 57 82 31 73 32 30 58 54 46 76 19 61 39 67 45 40
 27 18 41 38 55 78 62 70 64 36 43 83 33 28 69 51 85 71 37 79 23 35 20 65
 21 24 66 75 84 49 34 52 59 68 74 22 53 60 44 25 56 50 29 48]
customer_country: ['France' 'Philippines' 'Madagascar' 'Portugal' 'Russia' 'China' 'Albania'
 'Venezuela' 'United States' 'Thailand' 'Japan' 'Greece' 'Tanzania' 'Peru'
 'Indonesia' 'Cuba' 'Poland' 'Brazil' 'Sweden' 'Czech Republic' 'Haiti'
 'Pakistan' 'Montenegro' 'Macedonia' 'Israel' 'Honduras' 'Colombia'
 'Kyrgyzstan' 'Zimbabwe' 'Lebanon' 'Argentina' 'Bulgaria' 'Yemen'
 'Afghanistan' 'Mali' 'Mexico' 'Mauritania'
 'Democratic Republic of the Congo' 'Mauritius' 'Falkland Islands'
 'Kazakhstan' 'Ukraine' 'Sierra Leone' 'Spain' 'Dominican Republic'
 'Palestinian Territory' 'Syria' 'Vietnam' 'Cameroon' 'Angola' 'Egypt'
 'Costa Rica' 'Serbia' 'Kenya' 'Iran' 'Malaysia' 'Italy' 'Chile' 'Nepal'
 'Ethiopia' 'Croatia' 'Paraguay' 'Luxembourg' 'South Africa' 'Germany'
 'French Polynesia' 'Mongolia' 'Finland' 'Somalia' 'Uzbekistan' 'Armenia'
 'Slovenia' 'Niger' 'Guatemala' 'Morocco' 'Lithuania' 'Nigeria' 'Malawi'
 'Ireland' 'Bolivia' 'United Arab Emirates' 'Norway' 'Saudi Arabia'
 'Bangladesh' 'Nicaragua' 'South Korea' 'Moldova' 'Netherlands' 'Panama'
 'Canada' 'New Zealand' 'North Korea' 'Comoros' 'United Kingdom' 'Estonia'
 'Gabon' 'Burkina Faso' 'Togo' 'Ecuador' 'Belarus' 'Eritrea' 'Guinea'
 'Azerbaijan' 'Tunisia' 'Senegal' 'Denmark' 'Ivory Coast' 'Andorra'
 'American Samoa' 'Jamaica' 'Micronesia' 'Iraq' 'Equatorial Guinea'
 'Sudan' 'Martinique' 'Swaziland' 'Georgia' 'Laos'
 'Bosnia and Herzegovina' 'Qatar' 'Botswana' 'Turkmenistan' 'Hong Kong'
 'Uganda']
customer_pet_type: ['cat' 'dog' 'bird']
customer_pet_breed: ['Labrador Retriever' 'Siamese' 'Parakeet']
seller_country: ['Central African Republic' 'Malaysia' 'Argentina' 'Russia' 'Bulgaria'
 'Honduras' 'Poland' 'Japan' 'Slovenia' 'Bosnia and Herzegovina'
 'Indonesia' 'Brazil' 'Croatia' 'China' 'Uganda' 'Italy' 'France'
 'United Kingdom' 'Vietnam' 'Peru' 'Cameroon' 'Germany' 'Portugal'
 'Pakistan' 'Canada' 'South Korea' 'Haiti' 'Philippines' 'Colombia'
 'Palestinian Territory' 'Ukraine' 'Guatemala' 'Afghanistan' 'Norway'
 'El Salvador' 'Ireland' 'Ghana' 'Czech Republic' 'Nigeria' 'Sweden'
 'Jordan' 'Nicaragua' 'Kazakhstan' 'Azerbaijan' 'Thailand' 'Tanzania'
 'Greece' 'Saudi Arabia' 'North Korea' 'Sri Lanka' 'Samoa'
 'Dominican Republic' 'Democratic Republic of the Congo' 'Venezuela'
 'Cuba' 'East Timor' 'Georgia' 'Serbia' 'Zambia' 'Paraguay' 'Uzbekistan'
 'Albania' 'Mexico' 'United States' 'Yemen' 'Montenegro' 'Cambodia'
 'Armenia' 'Iran' 'Bolivia' 'Belarus' 'Macedonia' 'Botswana' 'Spain'
 'Latvia' 'Chad' 'Jamaica' 'Burkina Faso' 'Lithuania' 'Laos' 'Chile'
 'Israel' 'New Zealand' 'Mali' 'Morocco' 'Mauritania' 'Tajikistan'
 'South Africa' 'Madagascar' 'Lebanon' 'Belgium' 'Luxembourg' 'Moldova'
 'Qatar' 'Mozambique' 'Malta' 'Senegal' 'Hungary' 'Finland' 'Switzerland'
 'Turkmenistan' 'Syria' 'Nepal' 'Singapore' 'Suriname' 'Netherlands'
 'Kosovo' 'Estonia' 'Mongolia' 'Kenya' 'Myanmar' 'Kuwait' 'Costa Rica'
 'Kyrgyzstan' 'Panama' 'Ethiopia' 'Micronesia' 'Tunisia' 'Gabon' 'Gambia'
 'Aland Islands']
product_name: ['Bird Cage' 'Dog Food' 'Cat Toy']
product_category: ['Food' 'Cage' 'Toy']
product_quantity: [ 87  88  77  91  35  21  86  63  93  45   5  40  52  60  19  29  44  67
  47  32  25  48   3 100  18   6  65  76   8  10   4  71  64  49  57  50
  28  23  61  92  73  14  53  15  31  33  46  13  12  97  68  84  34  90
  83  27  16   2  51   9  38  80  78  37  39  41  54  26  96  66  69  59
  82  36  95  75  17  98   1  20  94  42  79  72  89  74  99  56  30  55
  70  81  85  11  22  43  62   7  58  24]
sale_quantity: [ 3  4  6  2  7  9  1 10  5  8]
store_state: ['A8' nan '15' 'WA' 'B7' 'A4' 'K' 'OH' 'B4' 'AB' 'B9' 'JAL' 'TN' 'Z' 'AN'
 'NLE' 'A7' '97' 'B2' '10' 'SRW' 'SGR' 'LZ' 'MI' 'B5' '03' 'MO' 'TX' 'S'
 '16' 'A2' 'AZ' 'HB' 'CA' '05' 'MIC' 'O' 'SON' '31' '11' '06' 'FL' 'QC'
 'NB' 'NU' 'B8' 'CM' 'ENG' 'T' '07' '13' 'W' '12' 'IN' '09' '01' 'ON' 'NY'
 'KUL' 'I' '1084' 'OAX' 'MQ' 'A3' 'U' 'AC' '18' 'MOR' 'X' 'BY' 'HE' 'NW'
 'MEX' 'BD']
store_country: ['Poland' 'China' 'Indonesia' 'Sweden' 'Canada' 'Belarus' 'Lithuania'
 'South Korea' 'United States' 'Philippines' 'Russia' 'Netherlands' 'Peru'
 'Ghana' 'Portugal' 'Japan' 'Czech Republic' 'Uruguay' 'Ukraine'
 'Uzbekistan' 'Honduras' 'Morocco' 'Brazil' 'Colombia' 'Luxembourg'
 'Yemen' 'Argentina' 'Democratic Republic of the Congo' 'South Africa'
 'Tanzania' 'Latvia' 'Israel' 'France' 'Vietnam' 'Nigeria' 'Mongolia'
 'Italy' 'Finland' 'Iran' 'Sri Lanka' 'Djibouti' 'Dominican Republic'
 'Afghanistan' 'Bulgaria' 'Greece' 'Qatar' 'Cuba' 'Kosovo' 'Madagascar'
 'Thailand' 'Malaysia' 'Pakistan' 'Armenia' 'Spain' 'Angola' 'Kyrgyzstan'
 'Nepal' 'Bosnia and Herzegovina' 'Serbia' 'Bhutan' 'Martinique'
 'New Caledonia' 'Ireland' 'United Kingdom' 'Kazakhstan' 'Ivory Coast'
 'Kenya' 'Ethiopia' 'North Korea' 'Mexico' 'Germany' 'Taiwan' 'Jordan'
 'Georgia' 'Egypt' 'Cameroon' 'Tajikistan' 'Equatorial Guinea' 'Nicaragua'
 'New Zealand' 'Gambia' 'Venezuela' 'Uganda' 'Albania' 'Guatemala' 'Chile'
 'Paraguay' 'Bangladesh' 'Syria' 'Central African Republic' 'Zambia'
 'Zimbabwe' 'Mauritius' 'Iraq' 'Gabon' 'Malta' 'Botswana'
 'Palestinian Territory' 'Cyprus' 'Benin' 'Sudan' 'Costa Rica' 'Croatia'
 'Saint Vincent and the Grenadines' 'Slovenia' 'Laos' 'Burundi' 'Lebanon'
 'Norway' 'Jamaica' 'Macedonia' 'Chad' 'Australia' 'Niger' 'East Timor'
 'Seychelles' 'Samoa' 'Hungary' 'Saudi Arabia' 'Myanmar' 'Panama'
 'Grenada']
pet_category: ['Fish' 'Dogs' 'Reptiles' 'Cats' 'Birds']
product_color: ['Red' 'Pink' 'Mauv' 'Indigo' 'Maroon' 'Turquoise' 'Yellow' 'Purple'
 'Violet' 'Blue' 'Goldenrod' 'Khaki' 'Teal' 'Fuscia' 'Green' 'Crimson'
 'Orange' 'Aquamarine' 'Puce']
product_size: ['Large' 'Medium' 'Small']
product_material: ['Stone' 'Vinyl' 'Brass' 'Plexiglass' 'Plastic' 'Glass' 'Wood' 'Steel'
 'Granite' 'Aluminum' 'Rubber']
product_rating: [3.6 2.1 1.5 2.4 1.4 2.6 1.2 1.6 3.5 2.3 3.7 2.5 3.1 3.2 4.  4.8 5.  4.5
 3.9 4.2 2.8 2.2 2.9 1.8 2.7 4.1 1.9 2.  4.4 1.  3.3 3.4 3.  4.3 4.9 4.7
 1.7 1.1 3.8 1.3 4.6]
supplier_country: ['Russia' 'Sweden' 'Portugal' 'China' 'Poland' 'Brazil' 'Uganda'
 'Colombia' 'Zimbabwe' 'Philippines' 'Czech Republic' 'Kenya' 'Thailand'
 'Indonesia' 'Bulgaria' 'Finland' 'Canada' 'Bangladesh' 'Tunisia'
 'Nigeria' 'Dominican Republic' 'Comoros' 'Norway' 'Mongolia'
 'United States' 'Ukraine' 'Ireland' 'Netherlands' 'Japan' 'Greece'
 'France' 'Tanzania' 'Peru' 'Panama' 'Sierra Leone' 'Burkina Faso'
 'Palestinian Territory' 'Macedonia' 'Argentina' 'Mexico' 'South Africa'
 'Venezuela' 'Senegal' 'Taiwan' 'Azerbaijan' 'Pakistan' 'Mozambique'
 'Vietnam' 'Uzbekistan' 'Serbia' 'Lithuania' 'Nicaragua' 'New Zealand'
 'Belarus' 'Haiti' 'Sri Lanka' 'Tajikistan' 'Spain' 'Iran' 'Costa Rica'
 'Cuba' 'Syria' 'Honduras' 'Libya' 'Bosnia and Herzegovina' 'Angola'
 'Mali' 'North Korea' 'Cameroon' 'Guinea-Bissau' 'Namibia' 'Vanuatu'
 'Kyrgyzstan' 'Jordan' 'Israel' 'Albania' 'Saint Kitts and Nevis'
 'United Kingdom' 'Croatia' 'Bahamas' 'Afghanistan' 'Morocco' 'Ghana'
 'Somalia' 'Ivory Coast' 'Maldives' 'Liberia' 'Ecuador' 'Germany' 'Bhutan'
 'Paraguay' 'Cambodia' 'Mayotte' 'Luxembourg' 'French Polynesia' 'Yemen'
 'Malta' 'Malaysia' 'Guinea' 'Burundi' 'Saudi Arabia' 'Ethiopia'
 'Central African Republic' 'Niger' 'Montenegro' 'Armenia' 'Australia'
 'Guatemala' 'Georgia' 'Gambia' 'Egypt' 'El Salvador' 'Madagascar' 'Nepal'
 'South Korea' 'Romania' 'Moldova' 'Jamaica' 'Latvia' 'Sudan' 'Italy'
 'Kazakhstan' 'Estonia' 'Dominica' 'Reunion' 'Zambia'
 'Democratic Republic of the Congo' 'Palau']

In [5]:
pd.to_datetime(pandas_df['product_expiry_date'].head())

0   2026-02-28
1   2029-09-11
2   2024-01-05
3   2025-06-03
4   2030-07-10
Name: product_expiry_date, dtype: datetime64[ns]

In [6]:
pd.DataFrame({'a': pd.Series(dtype='datetime64[ns]'), 'b': pd.Series(dtype="int"), "c": pd.Series(dtype="float"), "d" : pd.Series(dtype="str")}).dtypes

a    datetime64[ns]
b             int64
c           float64
d            object
dtype: object

Терерь я опишу функцию, которая будет разделать большой фрейм на несколько меньших

In [7]:
inserted_rows = 0
customer = pd.DataFrame({
    "customer_first_name": pd.Series(dtype="str"),
    'customer_last_name': pd.Series(dtype="str"),
    'customer_age': pd.Series(dtype="int"),
    'customer_email': pd.Series(dtype="str"),
    'customer_country': pd.Series(dtype="str"),
    'customer_postal_code' : pd.Series(dtype="str"),
    'customer_pet_id' : pd.Series(dtype="int")
})
pet = pd.DataFrame({
    "customer_pet_type": pd.Series(dtype="str"),
    "customer_pet_name": pd.Series(dtype="str"),
    "customer_pet_breed": pd.Series(dtype="str"),
})
seller = pd.DataFrame({
    'seller_first_name': pd.Series(dtype="str"),
    'seller_last_name': pd.Series(dtype="str"),
    'seller_email': pd.Series(dtype="str"),
    'seller_country': pd.Series(dtype="str"),
    'seller_postal_code': pd.Series(dtype="str")
})
product = pd.DataFrame({
    'product_name': pd.Series(dtype="str"),
    'product_category': pd.Series(dtype="str"),
    'product_price': pd.Series(dtype="float"),
    'product_quantity': pd.Series(dtype="float"),
    'product_weight': pd.Series(dtype="float"),
    'product_color': pd.Series(dtype="str"),
    'product_size': pd.Series(dtype="str"),
    'product_brand': pd.Series(dtype="str"),
    'product_material': pd.Series(dtype="str"),
    'product_description': pd.Series(dtype="str"),
    'product_rating': pd.Series(dtype="float"),
    'product_reviews': pd.Series(dtype="int"),
    'product_release_date': pd.Series(dtype="datetime64[ns]"),
    'product_expiry_date': pd.Series(dtype="datetime64[ns]"),
    'pet_category' : pd.Series(dtype="str")
})
sale = pd.DataFrame({
    'sale_date': pd.Series(dtype="datetime64[ns]"),
    'sale_customer_id': pd.Series(dtype="int"),
    'sale_seller_id': pd.Series(dtype="int"),
    'sale_store_id': pd.Series(dtype="int"),
    'sale_supplier_id': pd.Series(dtype="int"),
    'sale_product_id': pd.Series(dtype="int"),
    'sale_quantity': pd.Series(dtype="float"),
    'sale_total_price': pd.Series(dtype="float")
})
store = pd.DataFrame({
    'store_name': pd.Series(dtype="str"),
    'store_location': pd.Series(dtype="str"),
    'store_city': pd.Series(dtype="str"),
    'store_state': pd.Series(dtype="str"),
    'store_country': pd.Series(dtype="str"),
    'store_phone': pd.Series(dtype="str"),
    'store_email': pd.Series(dtype="str"),
})

supplier = pd.DataFrame({
    'supplier_name': pd.Series(dtype="str"),
    'supplier_contact': pd.Series(dtype="str"),
    'supplier_email': pd.Series(dtype="str"),
    'supplier_phone': pd.Series(dtype="str"),
    'supplier_address': pd.Series(dtype="str"),
    'supplier_city': pd.Series(dtype="str"),
    'supplier_country': pd.Series(dtype="str")
})

In [8]:
def split_raw_df(df):
    global customer, pet, seller, product, sale, store, supplier, inserted_rows
    
    customer = pd.concat([df, customer], join='inner', ignore_index='true')
    customer.index += 1
    customer["pet_id"] = customer.index
    pet = pd.concat([df, pet], join='inner', ignore_index='true')
    pet.index += 1
    seller = pd.concat([df, seller], join='inner', ignore_index='true')
    seller.index += 1
    product = pd.concat([df, product], join='inner', ignore_index='true')
    product.index += 1
    sale = pd.concat([df, sale], join='inner', ignore_index='true')
    sale.index += 1
    sale["sale_store_id"] = sale.index
    sale["sale_supplier_id"] = sale.index
    store = pd.concat([df, store], join='inner', ignore_index='true')
    store.index += 1
    supplier = pd.concat([df, supplier], join='inner', ignore_index='true')
    supplier.index += 1


    for col in ['sale_customer_id','sale_seller_id','sale_product_id']:
    	sale[col] += inserted_rows

    inserted_rows += len(df)

In [9]:
split_raw_df(pandas_df)

In [11]:
customer.columns = [ 'first_name', 'last_name', 'age', 'email', 'country', 'postal_code' , 'pet_id' ]
pet.columns = [ "type", "name", "breed" ]
seller.columns = [ 'first_name', 'last_name', 'email', 'country', 'postal_code' ]
product.columns = ['name', 'category', 'price', 'quantity', 'pet_category', 'weight', 'color', 'size', 'brand', 'material', 'description', 'rating', 'reviews', 'release_date', 'expiry_date' ]
sale.columns = [ 'date', 'customer_id', 'seller_id', 'store_id', 'supplier_id','product_id', 'quantity', 'total_price' ]
store.columns = [ 'name', 'location', 'city', 'state', 'country', 'phone', 'email' ]
supplier.columns = [ 'name', 'contact', 'email', 'phone', 'address', 'city', 'country' ]

In [12]:
product["expiry_date"] = product["expiry_date"].astype("datetime64[ns]")
product["release_date"] = product["release_date"].astype("datetime64[ns]")
sale["date"] = sale["date"].astype("datetime64[ns]")

In [13]:
customer.head()

,first_name,last_name,age,email,country,postal_code,pet_id
1,Conni,Leydon,63,lswait0@amazon.com,France,77404 CEDEX,1
2,Alec,Chamberlayne,26,cwalsh1@state.gov,Philippines,9401,2
3,Vaughan,Shapiro,47,jelnough2@xing.com,Madagascar,NaN,3
4,Bank,Audas,81,lscay3@howstuffworks.com,Portugal,2860-010,4
5,Anthe,Pletts,72,ctoll4@miibeian.gov.cn,Russia,628389,5

In [14]:
sale.head()

,date,customer_id,seller_id,store_id,supplier_id,product_id,quantity,total_price
1,2021-02-27,1,1,1,3.0,83.32,1,1
2,2021-02-27,2,2,2,4.0,384.20,2,2
3,2021-11-30,3,3,3,6.0,11.58,3,3
4,2021-10-24,4,4,4,2.0,273.35,4,4
5,2021-06-27,5,5,5,2.0,305.87,5,5

Теперь можно подключить spark и сделать экспорт данных в postgres. Я заметил нюанс, который скорее всего связан с jupyter notebook: когда создается переменная spark ниже, то потом при пересоздании он использует старую версию переменной, т.е. если в конфиге указать только jar файл для postgresql, а в другой ячейке для postgresql и clickhouse, то при подключении к clickhouse будет ошибка, типа jar файл не найден

Поэтому сразу подключу оба jar файла

Можно заметить, что для работы spark нужно создавать сессии, так что имеет смысл выделить создание и закрытие сессии в отдельную функцию-декоратор

In [15]:
from functools import wraps
from pyspark.sql import SparkSession

def spark_session(func):
    @wraps(func)
    def wrapper(*args, **kwargs):
        spark = SparkSession.builder \
            .appName("Spark SQL with PostgreSQL and ClickHouse") \
            .config("spark.jars", "postgresql-42.6.0.jar,clickhouse-jdbc-0.8.5-all.jar")\
            .getOrCreate()
        result = func(*args, spark=spark, **kwargs)
        spark.stop()
        return result
    return wrapper

dbData = {
    "postgresql" :  ("jdbc:postgresql://postgres:5432/spark_db", {
        "user": "spark_user",
        "password": "spark_password",
        "driver": "org.postgresql.Driver"
    }),
    "clickhouse" : ("jdbc:clickhouse://clickhouse:8123/default", {
        "driver": "com.clickhouse.jdbc.ClickHouseDriver",
        "user": "custom_user",
        "password": "custom_password"
    })
}

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum

@spark_session
def view_preview(spark):
    data = [
    	("pets", spark.createDataFrame(pet)),
    	("customers", spark.createDataFrame(customer)),
    	("sellers", spark.createDataFrame(seller)),
    	("products", spark.createDataFrame(product)),
    	("stores", spark.createDataFrame(store)),
    	("suppliers", spark.createDataFrame(supplier)),
        ("sales", spark.createDataFrame(sale))
    ]
    data[6][1].createOrReplaceTempView("sales")
    sqlDf = spark.sql("select * from sales limit 10;")
    sqlDf.show()
view_preview()

+-------------------+-----------+---------+--------+-----------+----------+--------+-----------+
|               date|customer_id|seller_id|store_id|supplier_id|product_id|quantity|total_price|
+-------------------+-----------+---------+--------+-----------+----------+--------+-----------+
|2021-02-27 00:00:00|          1|        1|       1|        3.0|     83.32|       1|          1|
|2021-02-27 00:00:00|          2|        2|       2|        4.0|     384.2|       2|          2|
|2021-11-30 00:00:00|          3|        3|       3|        6.0|     11.58|       3|          3|
|2021-10-24 00:00:00|          4|        4|       4|        2.0|    273.35|       4|          4|
|2021-06-27 00:00:00|          5|        5|       5|        2.0|    305.87|       5|          5|
|2021-06-25 00:00:00|          6|        6|       6|        3.0|    454.33|       6|          6|
|2021-12-19 00:00:00|          7|        7|       7|        7.0|    462.47|       7|          7|
|2021-01-04 00:00:00|          8|        8|       8|        9.0|     17.17|       8|          8|
|2021-12-28 00:00:00|          9|        9|       9|        1.0|    417.48|       9|          9|
|2021-04-05 00:00:00|         10|       10|      10|        7.0|    483.95|      10|         10|
+-------------------+-----------+---------+--------+-----------+----------+--------+-----------+

Экспорт данных в postgresql

In [17]:
@spark_session
def export_to_postgresql(spark):
    data = [
    	("pets", spark.createDataFrame(pet)),
    	("customers", spark.createDataFrame(customer)),
    	("sellers", spark.createDataFrame(seller)),
    	("products", spark.createDataFrame(product)),
    	("stores", spark.createDataFrame(store)),
    	("suppliers", spark.createDataFrame(supplier)),
        ("sales", spark.createDataFrame(sale))
    ]
    pg_url, pg_props =  dbData["postgresql"]
    
    for table, df in data:
        df.write\
        .jdbc(url=pg_url, table=table, mode="append", properties=pg_props)

export_to_postgresql()

Теперь будем собирать статистику и делать витрины

Витрина на продукты

In [18]:
from pyspark.sql.types import StructType, StructField, StringType, MapType, FloatType, ArrayType, Row
from pyspark.sql.functions import create_map, array_agg, array, map_from_entries, struct

@spark_session
def products_report(spark):
    pg_url, pg_props =  dbData["postgresql"]
    
    products = spark.read.jdbc(url=pg_url, table="products", properties=pg_props)
    sales = spark.read.jdbc(url=pg_url, table="sales", properties=pg_props)
    
    sales.createOrReplaceTempView("sales")
    products.createOrReplaceTempView("products")
    
    most_salling_products = spark.sql("""
    select array_agg(t1.name) as names
    from (
    select t1.name as name, count(t2.product_id) as sales
    from
        products as t1
    inner join 
        sales as t2
    on t1.id = t2.product_id
    group by t1.name
    order by sales desc
    limit 10) as t1;
    """)
    
    revenue_per_category = spark.sql(
    """
    select struct(t1.category, sum(price)) as data
        from 
        products as t1
    inner join 
        sales as t2
    on t1.id = t2.product_id
    group by t1.category;
    """)
    
    mean_mark_and_reviews_per_product = spark.sql("""
    select
        name,
        avg(rating) as mean_avg,
        avg(reviews) as mean_reviews
    from products
    group by name;
    """)
    
    print("Самые продаваемые товары")
    display(most_salling_products.toPandas())
    
    print("Выручка по категориям")
    display(revenue_per_category.toPandas())
    
    print("Средняя оценка и количество комментариев для каждого предмета(первые 5)")
    display(mean_mark_and_reviews_per_product.toPandas().head())
    
    schema = StructType([
        StructField("mostRelevantProducts", ArrayType(StringType()), False),
        StructField("categoryRevenue", MapType(StringType(), FloatType()), True),
        StructField("ratePerProduct", MapType(StringType(), FloatType()), True),
        StructField("commentPerProduct", MapType(StringType(), FloatType()), True),
    ])
    
    most_relevant = most_salling_products
    category_revenue = revenue_per_category.select(map_from_entries(array_agg("data")).alias("data"))
    marks_per_product = mean_mark_and_reviews_per_product.select(map_from_entries(array_agg(struct("name", "mean_avg"))).alias("data"))
    reviews_per_product = mean_mark_and_reviews_per_product.select(map_from_entries(array_agg(struct("name","mean_reviews"))).alias("data"))
    
    ch_products_df = spark.createDataFrame(data=[
        (most_relevant.first()["names"],
         category_revenue.first()["data"],
         marks_per_product.first()["data"],
         reviews_per_product.first()["data"])
    ], schema=schema)
    
    ch_products_df2 = spark.createDataFrame(data=[
        Row(data=ch_products_df.toJSON().first())
    ])
    
    ch_url, ch_props =  dbData["clickhouse"]
    
    ch_products_df2.write.jdbc(url=ch_url, table="products", mode="append", properties=ch_props)

products_report()

Самые продаваемые товары

                            names
0  [Bird Cage, Cat Toy, Dog Food]

Выручка по категориям

                         data
0  (Cage, 17162.959999999995)
1   (Food, 15043.65000000001)
2    (Toy, 17018.78999999997)

Средняя оценка и количество комментариев для каждого предмета(первые 5)

        name  mean_avg  mean_reviews
0  Bird Cage  2.996979    484.670695
1   Dog Food  3.092394    500.453521
2    Cat Toy  3.086624    499.149682

Витрина на продажи по покупателям

In [19]:
from pyspark.sql.types import StructType, StructField, StringType, MapType, FloatType, ArrayType, Row, IntegerType
from pyspark.sql.functions import create_map, array_agg, array, map_from_entries, struct

@spark_session
def customers_report(spark):
    pg_url, pg_props =  dbData["postgresql"]
    
    customers = spark.read.jdbc(url=pg_url, table="customers", properties=pg_props)
    sales = spark.read.jdbc(url=pg_url, table="sales", properties=pg_props)
    
    sales.createOrReplaceTempView("sales")
    customers.createOrReplaceTempView("customers")
    
    most_relevant_customers = spark.sql("""
    select array_agg(t1.name) as names
    from (
    select t1.first_name as name, count(t1.id) as sales
    from
        customers as t1
    inner join 
        sales as t2
    on t1.id = t2.customer_id
    group by t1.first_name
    order by sales desc
    limit 10) as t1;
    """)
    
    customer_country_stratification = spark.sql(
    """
		select array_agg(struct(t1.*)) as entries from (
		select t1.country as country, count(t1.id) as sales
			from 
					customers as t1
			inner join 
					sales as t2
			on t1.id = t2.customer_id
			group by t1.country
		) as t1;
    """)
    
    mean_order_cost_per_customer = spark.sql("""
		select array_agg(struct(t1.*)) as entries
    from (
		select
        t1.first_name as name,
        avg(t2.total_price) as mean_order_cost
		from 
				customers as t1
		inner join 
				sales as t2
    group by t1.first_name
		) as t1;
    """)
    
    print("Самые покупающие покупатели")
    display(most_relevant_customers.toPandas())
    
    print("Распределение продаж по странам")
    display(customer_country_stratification.toPandas())
    
    print("Средняя стоимость покупок на пользователя(первые 5)")
    display(mean_order_cost_per_customer.toPandas().head())
    
    schema = StructType([
        StructField("mostRelevantCustomers", ArrayType(StringType()), False),
        StructField("customerCountryStratification", MapType(StringType(), IntegerType()), False),
        StructField("meanOrderCostPerCustomer", MapType(StringType(), FloatType()), False),
    ])
    
    most_relevant_customers = most_relevant_customers.first()["names"]
    customer_country_stratification = customer_country_stratification.select(map_from_entries("entries").alias("data")).first()["data"]
    mean_order_cost_per_customer = mean_order_cost_per_customer.select(map_from_entries("entries").alias("data")).first()["data"]
    
    ch_products_df = spark.createDataFrame(data=[
        (most_relevant_customers,
         customer_country_stratification,
         mean_order_cost_per_customer)
    ], schema=schema)
    
    ch_products_df2 = spark.createDataFrame(data=[
        Row(data=ch_products_df.toJSON().first())
    ])
    
    ch_url, ch_props =  dbData["clickhouse"]
    
    ch_products_df2.write.jdbc(url=ch_url, table="sales_per_customers", mode="append", properties=ch_props)

customers_report()

Самые покупающие покупатели

                                               names
0  [Georas, Vale, Edee, Rubi, Tate, Dorian, Nonah...

Распределение продаж по странам

                                             entries
0  [(Russia, 74), (Paraguay, 3), (Yemen, 3), (Sen...

Средняя стоимость покупок на пользователя(первые 5)

                                             entries
0  [(Sandi, 500.5), (Reta, 500.5), (Donielle, 500...

Распределение продаж по времени

In [20]:
from pyspark.sql.types import StructType, StructField, StringType, MapType, FloatType, ArrayType, Row, IntegerType, Tuple
from pyspark.sql.functions import create_map, array_agg, array, map_from_entries, struct, col

@spark_session
def sales_per_time_report(spark):
    pg_url, pg_props =  dbData["postgresql"]
    
    sales = spark.read.jdbc(url=pg_url, table="sales", properties=pg_props)
    
    sales.createOrReplaceTempView("sales")
    
    year_and_month_trands = spark.sql("""
		select cast(t1.year_month as varchar(20)) as year_month, t1.sales - lag(t1.sales) over (order by t1.year_month) as trand
		from 
          (select
              t1.year_month,
              count(*) as sales
            from (
        		select 
        			date_trunc('month', date) as year_month
        		from sales
    		) as t1
            group by t1.year_month
            order by t1.year_month) as t1;
    """)
    
    period_revenue_comparison = spark.sql(
    """
		select 
          t1.period,
          sum(t1.total_price) as overall_price
        from (
        select 
			date_trunc('month', date) as period,
            total_price
		from sales
        ) as t1
        group by t1.period
        order by t1.period;
    """)
    
    mean_order_size_per_month = spark.sql("""
			select
				t1.month as month,
				avg(t1.order_size) as mean_order_size
			from (
				select
					extract (month from date) as month,
					quantity as order_size
				from sales
			) as t1
            group by t1.month;
    """)
    
    print("Тренды по годам и месяцам")
    display(year_and_month_trands.toPandas())
    
    print("Сравнение выручки по периодам(месяцам)")
    display(period_revenue_comparison.toPandas())
    
    print("Средний размер покупок за месяц")
    display(mean_order_size_per_month.toPandas().head())
    
    schema = StructType([
        StructField("yearAndMonthTrands", MapType(StringType(), FloatType()), False),
        StructField("periodsRevenueComparison", MapType(StringType(), FloatType()), False),
        StructField("meanOrderSizePerMonth", MapType(StringType(), FloatType()), False),
    ])
    
    
    ch_products_df = spark.createDataFrame(data=[
        (year_and_month_trands.select(map_from_entries(array_agg(struct("year_month", col("trand").cast("float")))).alias("data")).first()["data"],
         period_revenue_comparison.select(map_from_entries(array_agg(struct("period", "overall_price"))).alias("data")).first()["data"],
         mean_order_size_per_month.select(map_from_entries(array_agg(struct("month", "mean_order_size"))).alias("data")).first()["data"])
    ], schema=schema)
    
    ch_products_df2 = spark.createDataFrame(data=[
        Row(data=ch_products_df.toJSON().first())
    ])
    
    ch_url, ch_props =  dbData["clickhouse"]
    
    ch_products_df2.write.jdbc(url=ch_url, table="sales_per_times", mode="append", properties=ch_props)

sales_per_time_report()

Тренды по годам и месяцам

             year_month  trand
0   2021-01-01 00:00:00    NaN
1   2021-02-01 00:00:00  -21.0
2   2021-03-01 00:00:00    3.0
3   2021-04-01 00:00:00   13.0
4   2021-05-01 00:00:00   11.0
5   2021-06-01 00:00:00  -22.0
6   2021-07-01 00:00:00    2.0
7   2021-08-01 00:00:00   16.0
8   2021-09-01 00:00:00   -5.0
9   2021-10-01 00:00:00   -1.0
10  2021-11-01 00:00:00    3.0
11  2021-12-01 00:00:00  -17.0

Сравнение выручки по периодам(месяцам)

       period  overall_price
0  2021-01-01        42266.0
1  2021-02-01        33184.0
2  2021-03-01        35632.0
3  2021-04-01        44810.0
4  2021-05-01        48698.0
5  2021-06-01        36891.0
6  2021-07-01        44004.0
7  2021-08-01        50436.0
8  2021-09-01        42229.0
9  2021-10-01        42712.0
10 2021-11-01        41265.0
11 2021-12-01        38373.0

Средний размер покупок за месяц

   month  mean_order_size
0     12       525.657534
1      1       464.461538
2      6       491.880000
3      3       488.109589
4      5       502.041237

Распределение продаж по магазинам

In [21]:
from pyspark.sql.types import StructType, StructField, StringType, MapType, FloatType, ArrayType, Row, IntegerType, Tuple
from pyspark.sql.functions import create_map, array_agg, array, map_from_entries, struct, col

@spark_session
def sales_per_stores_report(spark):
		pg_url, pg_props =	dbData["postgresql"]
		
		sales = spark.read.jdbc(url=pg_url, table="sales", properties=pg_props)
		stores = spark.read.jdbc(url=pg_url, table="stores", properties=pg_props)
		
		sales.createOrReplaceTempView("sales")
		stores.createOrReplaceTempView("stores")
		
		most_relevant_stores = spark.sql("""
		select t1.name, count(*) as sales
		from 
			sales as t2
		inner join
			stores as t1
		on t2.store_id = t1.id
		group by t1.name
        order by sales desc
		""")
		
		state_country_sales_distribution = spark.sql(
		"""
		select concat(t1.country, ',', t1.state) as location, count(*) as sales
		from 
			sales as t2
		inner join
			stores as t1
		on t2.store_id = t1.id
		group by t1.country, t1.state
		""")
		
		mean_order_cost_per_store = spark.sql("""
		select t1.name, avg(t2.total_price) as mean_order_cost
        from
			sales as t2
		inner join
			stores as t1
		group by t1.name;
		""")
		
		print("Лучшие магазины")
		display(most_relevant_stores.toPandas())
		
		print("Распределение по странам и городам")
		display(state_country_sales_distribution.toPandas())
		
		print("Средняя стоимость заказа в магазине")
		display(mean_order_cost_per_store.toPandas())
		
		schema = StructType([
				StructField("mostRelevantStores", ArrayType(StringType()), False),
				StructField("stateCountrySalesDistribution", MapType(StringType(), IntegerType()), False),
				StructField("meanOrderCostPerStore", MapType(StringType(), FloatType()), False),
		])
		
		
		ch_products_df = spark.createDataFrame(data=[
				(most_relevant_stores.select(array_agg("name").alias("data")).first()["data"],
				 state_country_sales_distribution.select(map_from_entries(array_agg(struct("location", "sales"))).alias("data")).first()["data"],
				 mean_order_cost_per_store.select(map_from_entries(array_agg(struct("name", "mean_order_cost"))).alias("data")).first()["data"])
		], schema=schema)
		
		ch_products_df2 = spark.createDataFrame(data=[
				Row(data=ch_products_df.toJSON().first())
		])
		
		ch_url, ch_props =	dbData["clickhouse"]
		
		ch_products_df2.write.jdbc(url=ch_url, table="sales_per_stores", mode="append", properties=ch_props)

sales_per_stores_report()

Лучшие магазины

              name  sales
0         Livetube     10
1          Rhycero      8
2           Trunyx      8
3           Meevee      8
4          Dynabox      8
..             ...    ...
354        Centizu      1
355         Zoozzy      1
356        Voolith      1
357  Thoughtbridge      1
358         Rhyzio      1

[359 rows x 2 columns]

Распределение по странам и городам

                         location  sales
0                     Georgia,NaN      1
1                  Afghanistan,MI      1
2                  Kyrgyzstan,NaN      1
3                       China,SRW      1
4                        China,03      3
..                            ...    ...
244                     Russia,09      1
245                      China,TN      1
246                  Indonesia,CM      1
247  Central African Republic,NaN      1
248                Philippines,12      2

[249 rows x 2 columns]

Средняя стоимость заказа в магазине

              name  mean_order_cost
0          Jetwire            500.5
1         Jaxworks            500.5
2        Reallinks            500.5
3      Brainlounge            500.5
4         Snaptags            500.5
..             ...              ...
354         Skyble            500.5
355  Thoughtbridge            500.5
356          Yamia            500.5
357      Edgepulse            500.5
358         Rhyzio            500.5

[359 rows x 2 columns]

Распреление продаж по диллерам

In [22]:
from pyspark.sql.types import StructType, StructField, StringType, MapType, FloatType, ArrayType, Row, IntegerType, Tuple
from pyspark.sql.functions import create_map, array_agg, array, map_from_entries, struct, col

@spark_session
def sales_per_suppliers_report(spark):
		pg_url, pg_props =	dbData["postgresql"]
		
		sales = spark.read.jdbc(url=pg_url, table="sales", properties=pg_props)
		suppliers = spark.read.jdbc(url=pg_url, table="suppliers", properties=pg_props)
		products = spark.read.jdbc(url=pg_url, table="products", properties=pg_props)
		
		sales.createOrReplaceTempView("sales")
		suppliers.createOrReplaceTempView("suppliers")
		products.createOrReplaceTempView("products")
		
		most_relevant_suppliers = spark.sql("""
		select t1.name, count(*) as sales
		from 
			sales as t2
		inner join
			suppliers as t1
		on t2.supplier_id = t1.id
		group by t1.name
		order by sales desc
		""")
		
		mean_product_cost_per_supplier = spark.sql(
		"""
		select t3.supplier_name, avg(t4.price) as mean_product_price
		from 
			(
			select t1.name as supplier_name, t2.* from
			sales as t2
		inner join
			suppliers as t1
		on t2.supplier_id = t1.id
			) as t3
		inner join
			products as t4
		on t3.product_id = t4.id
		group by t3.supplier_name;
		""")
		
		supplier_sales_per_country_distribution = spark.sql("""
		select t1.country, count(*) as sales
		from
			sales as t2
		inner join
			suppliers as t1
		on t2.supplier_id = t1.id
		group by t1.country;
		""")
		
		print("Самые крутые диллеры")
		display(most_relevant_suppliers.toPandas())
		
		print("Средняя цена товара на диллера")
		display(mean_product_cost_per_supplier.toPandas())
		
		print("Распределение диллеров по странам")
		display(supplier_sales_per_country_distribution.toPandas().head())
		
		schema = StructType([
				StructField("mostRelevantSuppliers", ArrayType(StringType()), False),
				StructField("meanProductCostPerSupplier", MapType(StringType(), FloatType()), False),
				StructField("supplierSalesPerCountryDistribution", MapType(StringType(), IntegerType()), False),
		])
		
		
		ch_products_df = spark.createDataFrame(data=[
				(most_relevant_suppliers.select(array_agg("name").alias("data")).first()["data"],
				 mean_product_cost_per_supplier.select(map_from_entries(array_agg(struct("supplier_name", "mean_product_price"))).alias("data")).first()["data"],
				 supplier_sales_per_country_distribution.select(map_from_entries(array_agg(struct("country", "sales"))).alias("data")).first()["data"])
		], schema=schema)
		
		ch_products_df2 = spark.createDataFrame(data=[
				Row(data=ch_products_df.toJSON().first())
		])
		
		ch_url, ch_props =	dbData["clickhouse"]
		
		ch_products_df2.write.jdbc(url=ch_url, table="sales_per_suppliers", mode="append", properties=ch_props)

sales_per_suppliers_report()

Самые крутые диллеры

        name  sales
0   Devpoint    109
1   Digitube    107
2     Twimbo    104
3  Realpoint    104
4    Rhycero    102
5    Myworks     97
6     Voolia     95
7  Jaxnation     94
8    Cogibox     94
9   Feedfire     94

Средняя цена товара на диллера

  supplier_name  mean_product_price
0       Rhycero           49.571373
1      Devpoint           48.520000
2       Myworks           50.751546
3      Digitube           44.299065
4        Twimbo           48.845865
5        Voolia           46.604421
6     Realpoint           48.234038
7     Jaxnation           45.040106
8       Cogibox           57.687128
9      Feedfire           53.589894

Распределение диллеров по странам

                 country  sales
0                  China    303
1  Saint Kitts and Nevis    109
2              Indonesia    285
3                 Brazil    104
4                  Japan    104

Распределение качества товаров

In [35]:
from pyspark.sql.types import StructType, StructField, StringType, MapType, FloatType, ArrayType, Row, IntegerType, Tuple
from pyspark.sql.functions import create_map, array_agg, array, create_map, struct, corr

@spark_session
def quantity_of_products_report(spark):
		pg_url, pg_props =	dbData["postgresql"]
		
		sales = spark.read.jdbc(url=pg_url, table="sales", properties=pg_props)
		products = spark.read.jdbc(url=pg_url, table="products", properties=pg_props)
		
		sales.createOrReplaceTempView("sales")
		products.createOrReplaceTempView("products")
		
		products_highest_rate = spark.sql("""
		select name as key, rating as value
		from (
            select name, rating
            from products
            order by rating desc
            limit 10
        );
		""")
		
		product_lowest_rate = spark.sql("""
		select name as key, rating as value
		from (
            select name, rating
            from products
            order by rating
            limit 10
        );
		""")
		
		rate_and_sales_count_correlation = spark.sql("""
		select rating, count(*) as sales
		from
			sales as t2
		inner join
			products as t1
		on t2.product_id = t1.id
		group by t1.rating;
		""")

		products_with_biggest_coments_quantity = spark.sql("""
		select name as key, reviews as value
		from (
            select name, reviews
            from products
            order by reviews desc
            limit 25
        );
		""")
		
		print("Самые крутые товары")
		display(products_highest_rate.toPandas())
		
		print("Самые плохие товары")
		display(product_lowest_rate.toPandas())
		
		print("Корреляция продаж и рейтинга(сырые данные)")
		display(rate_and_sales_count_correlation.toPandas().head())

		print("Товары с наибольшим количеством комментариев")
		display(products_with_biggest_coments_quantity.toPandas())

		
		schema = StructType([
				StructField("productsHighestRate", ArrayType(MapType(StringType(), FloatType())), False),
				StructField("productsLowestRate", ArrayType(MapType(StringType(), FloatType())), False),
				StructField("rateAndSalesCountCorrelation", FloatType(), False),
				StructField("productsWithBigCommentsQuantity", ArrayType(MapType(StringType(), IntegerType())), False)
            ])
		
		ch_product_df = spark.createDataFrame(data=[
				(products_highest_rate.select(array_agg(create_map("key", "value")).alias("data")).first()["data"],
				 product_lowest_rate.select(array_agg(create_map("key", "value")).alias("data")).first()["data"],
				 rate_and_sales_count_correlation.agg(corr("rating", "sales").alias("data")).first()["data"],
                 products_with_biggest_coments_quantity.select(array_agg(create_map("key", "value")).alias("data")).first()["data"])
		], schema=schema)
		
		ch_product_df2 = spark.createDataFrame(data=[
				Row(data=ch_product_df.toJSON().first())
		])
		
		ch_url, ch_props =	dbData["clickhouse"]
		
		ch_product_df2.write.jdbc(url=ch_url, table="quality_of_products", mode="append", properties=ch_props)

quantity_of_products_report()

Самые крутые товары

         key  value
0  Bird Cage    5.0
1   Dog Food    5.0
2    Cat Toy    5.0
3   Dog Food    5.0
4   Dog Food    5.0
5   Dog Food    5.0
6   Dog Food    5.0
7    Cat Toy    5.0
8    Cat Toy    5.0
9   Dog Food    5.0

Самые плохие товары

         key  value
0   Dog Food    1.0
1   Dog Food    1.0
2  Bird Cage    1.0
3  Bird Cage    1.0
4    Cat Toy    1.0
5  Bird Cage    1.0
6  Bird Cage    1.0
7   Dog Food    1.0
8    Cat Toy    1.0
9   Dog Food    1.0

Корреляция продаж и рейтинга(сырые данные)

   rating  sales
0     2.4     17
1     3.5     17
2     2.9     30
3     3.7     30
4     4.5     24

Товары с наибольшим количеством комментариев

          key  value
0   Bird Cage    999
1   Bird Cage    998
2     Cat Toy    998
3   Bird Cage    998
4   Bird Cage    996
5     Cat Toy    995
6   Bird Cage    993
7   Bird Cage    991
8     Cat Toy    989
9    Dog Food    983
10    Cat Toy    982
11    Cat Toy    982
12    Cat Toy    981
13  Bird Cage    980
14   Dog Food    979
15    Cat Toy    977
16  Bird Cage    977
17   Dog Food    977
18    Cat Toy    974
19  Bird Cage    974
20  Bird Cage    973
21   Dog Food    973
22   Dog Food    973
23   Dog Food    972
24   Dog Food    972

In [40]:
import json
from pprint import pprint

@spark_session
def show_inserted(spark):
    ch_url, ch_props = dbData["clickhouse"]
    for table in ["products", "sales_per_customers", "sales_per_times", "sales_per_stores", "sales_per_suppliers", "quality_of_products"
    ]:
        data_df = spark.read.jdbc(url=ch_url, table=table, properties=ch_props)
        data_df.createOrReplaceTempView(table)
        print(table)
        pprint(json.loads(spark.sql(f"select * from {table} limit 1;").first()["data"]))

show_inserted()

products
{'categoryRevenue': {'Cage': 17162.96, 'Food': 15043.65, 'Toy': 17018.79},
 'commentPerProduct': {'Bird Cage': 484.6707,
                       'Cat Toy': 499.1497,
                       'Dog Food': 500.45352},
 'mostRelevantProducts': ['Bird Cage', 'Cat Toy', 'Dog Food'],
 'ratePerProduct': {'Bird Cage': 2.9969788,
                    'Cat Toy': 3.0866241,
                    'Dog Food': 3.0923944}}
sales_per_customers
{'customerCountryStratification': {'Afghanistan': 5,
                                   'Albania': 8,
                                   'American Samoa': 1,
                                   'Andorra': 1,
                                   'Angola': 1,
                                   'Argentina': 9,
                                   'Armenia': 6,
                                   'Azerbaijan': 2,
                                   'Bangladesh': 2,
                                   'Belarus': 2,
                                   'Bolivia': 4,
                                   'Bosnia and Herzegovina': 2,
                                   'Botswana': 1,
                                   'Brazil': 42,
                                   'Bulgaria': 4,
                                   'Burkina Faso': 2,
                                   'Cameroon': 3,
                                   'Canada': 7,
                                   'Chile': 4,
                                   'China': 173,
                                   'Colombia': 13,
                                   'Comoros': 1,
                                   'Costa Rica': 3,
                                   'Croatia': 3,
                                   'Cuba': 7,
                                   'Czech Republic': 11,
                                   'Democratic Republic of the Congo': 2,
                                   'Denmark': 2,
                                   'Dominican Republic': 3,
                                   'Ecuador': 2,
                                   'Egypt': 6,
                                   'Equatorial Guinea': 1,
                                   'Eritrea': 1,
                                   'Estonia': 1,
                                   'Ethiopia': 1,
                                   'Falkland Islands': 1,
                                   'Finland': 4,
                                   'France': 29,
                                   'French Polynesia': 1,
                                   'Gabon': 1,
                                   'Georgia': 2,
                                   'Germany': 4,
                                   'Greece': 12,
                                   'Guatemala': 3,
                                   'Guinea': 2,
                                   'Haiti': 3,
                                   'Honduras': 13,
                                   'Hong Kong': 1,
                                   'Indonesia': 113,
                                   'Iran': 5,
                                   'Iraq': 2,
                                   'Ireland': 3,
                                   'Israel': 1,
                                   'Italy': 2,
                                   'Ivory Coast': 2,
                                   'Jamaica': 1,
                                   'Japan': 20,
                                   'Kazakhstan': 5,
                                   'Kenya': 3,
                                   'Kyrgyzstan': 2,
                                   'Laos': 1,
                                   'Lebanon': 1,
                                   'Lithuania': 1,
                                   'Luxembourg': 2,
                                   'Macedonia': 6,
                                   'Madagascar': 5,
                                   'Malawi': 3,
                                   'Malaysia': 3,
                                   'Mali': 2,
                                   'Martinique': 1,
                                   'Mauritania': 1,
                                   'Mauritius': 2,
                                   'Mexico': 10,
                                   'Micronesia': 1,
                                   'Moldova': 2,
                                   'Mongolia': 1,
                                   'Montenegro': 1,
                                   'Morocco': 2,
                                   'Nepal': 3,
                                   'Netherlands': 4,
                                   'New Zealand': 1,
                                   'Nicaragua': 2,
                                   'Niger': 1,
                                   'Nigeria': 11,
                                   'North Korea': 2,
                                   'Norway': 4,
                                   'Pakistan': 7,
                                   'Palestinian Territory': 5,
                                   'Panama': 1,
                                   'Paraguay': 3,
                                   'Peru': 6,
                                   'Philippines': 65,
                                   'Poland': 31,
                                   'Portugal': 28,
                                   'Qatar': 1,
                                   'Russia': 74,
                                   'Saudi Arabia': 2,
                                   'Senegal': 1,
                                   'Serbia': 5,
                                   'Sierra Leone': 1,
                                   'Slovenia': 3,
                                   'Somalia': 2,
                                   'South Africa': 8,
                                   'South Korea': 1,
                                   'Spain': 2,
                                   'Sudan': 1,
                                   'Swaziland': 1,
                                   'Sweden': 24,
                                   'Syria': 3,
                                   'Tanzania': 6,
                                   'Thailand': 16,
                                   'Togo': 2,
                                   'Tunisia': 4,
                                   'Turkmenistan': 1,
                                   'Uganda': 1,
                                   'Ukraine': 8,
                                   'United Arab Emirates': 1,
                                   'United Kingdom': 2,
                                   'United States': 19,
                                   'Uzbekistan': 2,
                                   'Venezuela': 3,
                                   'Vietnam': 10,
                                   'Yemen': 3,
                                   'Zimbabwe': 3},
 'meanOrderCostPerCustomer': {'Abba': 500.5,
                              'Abbey': 500.5,
                              'Abby': 500.5,
                              'Abdel': 500.5,
                              'Abey': 500.5,
                              'Addy': 500.5,
                              'Adena': 500.5,
                              'Adiana': 500.5,
                              'Adorne': 500.5,
                              'Agace': 500.5,
                              'Ailsun': 500.5,
                              'Ainslee': 500.5,
                              'Alaine': 500.5,
                              'Alaster': 500.5,
                              'Alayne': 500.5,
                              'Alberta': 500.5,
                              'Alec': 500.5,
                              'Alexandros': 500.5,
                              'Alf': 500.5,
                              'Alfred': 500.5,
                              'Alfredo': 500.5,
                              'Alicea': 500.5,
                              'Alley': 500.5,
                              'Alleyn': 500.5,
                              'Allison': 500.5,
                              'Allsun': 500.5,
                              'Allyson': 500.5,
                              'Almeria': 500.5,
                              'Alphonso': 500.5,
                              'Alysa': 500.5,
                              'Amber': 500.5,
                              'Amelia': 500.5,
                              'Anallise': 500.5,
                              'Anatol': 500.5,
                              'Andee': 500.5,
                              'Andeee': 500.5,
                              'Andris': 500.5,
                              'Angel': 500.5,
                              'Angela': 500.5,
                              'Angelico': 500.5,
                              'Anica': 500.5,
                              'Anjanette': 500.5,
                              'Annadiana': 500.5,
                              'Annelise': 500.5,
                              'Annnora': 500.5,
                              'Anselm': 500.5,
                              'Anthe': 500.5,
                              'Antonin': 500.5,
                              'Anya': 500.5,
                              'April': 500.5,
                              'Archambault': 500.5,
                              'Archy': 500.5,
                              'Ariadne': 500.5,
                              'Ariana': 500.5,
                              'Ario': 500.5,
                              'Arlan': 500.5,
                              'Arleen': 500.5,
                              'Arluene': 500.5,
                              'Armin': 500.5,
                              'Arnuad': 500.5,
                              'Arny': 500.5,
                              'Aron': 500.5,
                              'Arte': 500.5,
                              'Arty': 500.5,
                              'Arvie': 500.5,
                              'Ashien': 500.5,
                              'Ashlee': 500.5,
                              'Auberon': 500.5,
                              'Aubrey': 500.5,
                              'Augie': 500.5,
                              'Aurelie': 500.5,
                              'Auria': 500.5,
                              'Auroora': 500.5,
                              'Austen': 500.5,
                              'Ava': 500.5,
                              'Avis': 500.5,
                              'Aymer': 500.5,
                              'Babbette': 500.5,
                              'Bailie': 500.5,
                              'Bambi': 500.5,
                              'Ban': 500.5,
                              'Bank': 500.5,
                              'Barbaraanne': 500.5,
                              'Barby': 500.5,
                              'Barde': 500.5,
                              'Bari': 500.5,
                              'Barri': 500.5,
                              'Barron': 500.5,
                              'Bart': 500.5,
                              'Barty': 500.5,
                              'Basile': 500.5,
                              'Bathsheba': 500.5,
                              'Baxy': 500.5,
                              'Bearnard': 500.5,
                              'Beckie': 500.5,
                              'Belita': 500.5,
                              'Belvia': 500.5,
                              'Bendicty': 500.5,
                              'Benedicta': 500.5,
                              'Benny': 500.5,
                              'Benoite': 500.5,
                              'Berenice': 500.5,
                              'Berget': 500.5,
                              'Bern': 500.5,
                              'Bernelle': 500.5,
                              'Berty': 500.5,
                              'Bethany': 500.5,
                              'Bette-ann': 500.5,
                              'Billy': 500.5,
                              'Bing': 500.5,
                              'Bink': 500.5,
                              'Binni': 500.5,
                              'Blakeley': 500.5,
                              'Bobbi': 500.5,
                              'Bobette': 500.5,
                              'Boigie': 500.5,
                              'Bondie': 500.5,
                              'Bondon': 500.5,
                              'Brad': 500.5,
                              'Brandais': 500.5,
                              'Brandise': 500.5,
                              'Brandy': 500.5,
                              'Brena': 500.5,
                              'Brenda': 500.5,
                              'Brennan': 500.5,
                              'Brit': 500.5,
                              'Brita': 500.5,
                              'Brittan': 500.5,
                              'Brocky': 500.5,
                              'Brok': 500.5,
                              'Brose': 500.5,
                              'Bryn': 500.5,
                              'Buddy': 500.5,
                              'Burl': 500.5,
                              'Cal': 500.5,
                              'Candace': 500.5,
                              'Caprice': 500.5,
                              'Cariotta': 500.5,
                              'Carling': 500.5,
                              'Carma': 500.5,
                              'Carmon': 500.5,
                              'Carolina': 500.5,
                              'Caroljean': 500.5,
                              'Carr': 500.5,
                              'Casar': 500.5,
                              'Cassandre': 500.5,
                              'Cassandry': 500.5,
                              'Cassi': 500.5,
                              'Cassius': 500.5,
                              'Catherin': 500.5,
                              'Catherine': 500.5,
                              'Cathrin': 500.5,
                              'Cathyleen': 500.5,
                              'Catrina': 500.5,
                              'Cecilio': 500.5,
                              'Ceil': 500.5,
                              'Celestina': 500.5,
                              'Celinda': 500.5,
                              'Celka': 500.5,
                              'Celle': 500.5,
                              'Chad': 500.5,
                              'Chaddy': 500.5,
                              'Chancey': 500.5,
                              'Charline': 500.5,
                              'Chaunce': 500.5,
                              'Cheri': 500.5,
                              'Cherri': 500.5,
                              'Ches': 500.5,
                              'Chevy': 500.5,
                              'Chic': 500.5,
                              'Chilton': 500.5,
                              'Chris': 500.5,
                              'Christian': 500.5,
                              'Christiana': 500.5,
                              'Christophe': 500.5,
                              'Christy': 500.5,
                              'Chrotoem': 500.5,
                              'Chrystal': 500.5,
                              'Cicely': 500.5,
                              'Cirilo': 500.5,
                              'Clara': 500.5,
                              'Clarke': 500.5,
                              'Clem': 500.5,
                              'Clemence': 500.5,
                              'Clementia': 500.5,
                              'Clementine': 500.5,
                              'Cleo': 500.5,
                              'Clevey': 500.5,
                              'Codi': 500.5,
                              'Codie': 500.5,
                              'Cole': 500.5,
                              'Colleen': 500.5,
                              'Conchita': 500.5,
                              'Conni': 500.5,
                              'Conrade': 500.5,
                              'Constanta': 500.5,
                              'Consuelo': 500.5,
                              'Corabella': 500.5,
                              'Cordula': 500.5,
                              'Cornie': 500.5,
                              'Corrina': 500.5,
                              'Corrine': 500.5,
                              'Cort': 500.5,
                              'Cory': 500.5,
                              'Courtnay': 500.5,
                              'Craig': 500.5,
                              'Crista': 500.5,
                              'Cristine': 500.5,
                              'Cristy': 500.5,
                              'Cross': 500.5,
                              'Cymbre': 500.5,
                              'Cynthie': 500.5,
                              'Cyrillus': 500.5,
                              'Dacy': 500.5,
                              'Dagny': 500.5,
                              'Dale': 500.5,
                              'Dalenna': 500.5,
                              'Dana': 500.5,
                              'Dani': 500.5,
                              'Danice': 500.5,
                              'Daniela': 500.5,
                              'Daniella': 500.5,
                              'Danni': 500.5,
                              'Dar': 500.5,
                              'Dara': 500.5,
                              'Daria': 500.5,
                              'Darin': 500.5,
                              'Darius': 500.5,
                              'Darla': 500.5,
                              'Darrick': 500.5,
                              'Daveen': 500.5,
                              'Davie': 500.5,
                              'De witt': 500.5,
                              'Debor': 500.5,
                              'Dee': 500.5,
                              'Deerdre': 500.5,
                              'Del': 500.5,
                              'Delinda': 500.5,
                              'Dell': 500.5,
                              'Delly': 500.5,
                              'Demott': 500.5,
                              'Denna': 500.5,
                              'Dennet': 500.5,
                              'Denni': 500.5,
                              'Dennis': 500.5,
                              'Dennison': 500.5,
                              'Denver': 500.5,
                              'Denys': 500.5,
                              'Desiree': 500.5,
                              'Devlen': 500.5,
                              'Dieter': 500.5,
                              'Dion': 500.5,
                              'Dody': 500.5,
                              'Dominga': 500.5,
                              'Domingo': 500.5,
                              'Dominik': 500.5,
                              'Donal': 500.5,
                              'Donalt': 500.5,
                              'Donielle': 500.5,
                              'Donnie': 500.5,
                              'Donny': 500.5,
                              'Doralynne': 500.5,
                              'Dorene': 500.5,
                              'Dorian': 500.5,
                              'Doro': 500.5,
                              'Dosi': 500.5,
                              'Doti': 500.5,
                              'Dru': 500.5,
                              'Dukie': 500.5,
                              'Dulcea': 500.5,
                              'Dulci': 500.5,
                              'Dulciana': 500.5,
                              'Eadmund': 500.5,
                              'Ebba': 500.5,
                              'Eberhard': 500.5,
                              'Ebony': 500.5,
                              'Eda': 500.5,
                              'Edee': 500.5,
                              'Editha': 500.5,
                              'Edsel': 500.5,
                              'Edvard': 500.5,
                              'Edward': 500.5,